server:
  port: 8080

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:h2:mem:userdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path : /h2-console
    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true

  springdoc:
    swagger-ui:
      path: /swagger-ui.html



